<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A* Route Finder</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  </head>
  <body>
    <h1>Find a Route</h1>
    <div class="autocomplete">
      <input id="startSearch" type="text" placeholder="Search Start Point" />
      <div id="startResults" class="results-container"></div>
    </div>

    <div class="autocomplete">
      <input id="endSearch" type="text" placeholder="Search End Point" />
      <div id="endResults" class="results-container"></div>
    </div>

    <button id="findRouteBtn">Find Route</button>
    <div id="map"></div>

    <script src="/static/js/script.js"></script>
  </body>
</html>
